<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Journey</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <script>
        window.onload = function () {
            var tblEle = document.getElementById("table");
            var len = tblEle.tBodies[0].rows.length;
            for (var i = 0; i < len; i++) {
                if (i % 2 == 0) {
                    tblEle.tBodies[0].rows[i].style.backgroundColor = "#FAFAFA";
                } else {
                    tblEle.tBodies[0].rows[i].style.backgroundColor = "#DDF4E6";
                }
            }
        }
    </script>
</head>
<body>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <b>@TCD</b>CS7NS6 GROUP2</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="{{ url_for('admin.approve') }}" class="w3-bar-item w3-button">Booking Manage</a>
            <a href="{{ url_for('admin.journey') }}" class="w3-bar-item w3-button">Journey Manage</a>
            <a href="{{ url_for('admin.users') }}" class="w3-bar-item w3-button">User Manage</a>
        </div>
    </div>
</div>

{% block content %}{% endblock %}
<footer>
    <small>@TCD CS7NS6 GROUP2 ; <a href="https://github.com/CS7NS6-GROUP2/BookingJourney">Journey
        Booking</a></small>
</footer>
</body>
</html>