{% extends 'base.html' %}

{% block content %}
        <div class="w3-container">
            <h2>journey list</h2>
            <div class="w3-margin-top">
                <p>total {{ journeys|length }} journeys</p>
                <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13"
                       align="center"
                       id="table">
                    <tr>
                        <th>Journey_ID</th>
                        <th>Name</th>
                        <th>Pre-Booking</th>

                    </tr>
                    {% for journey in journeys %}
                        <tr>
                            <td>{{ journey.id }}</td>
                            <td>{{ journey.name }}</td>
                            <td>{{ journey.name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}