{% extends 'admin.html' %}

{% block content %}
    <div class="w3-container">
        <h2>journey list</h2>
        <div style="margin: 10px;">
            <a class="btn" href="add">
                Add journey
            </a>
        </div>
        <div class="w3-margin-top">
            <p>total {{ journeys|length }} journeys</p>
            <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13"
                   align="center"
                   id="table">
                <thead>
                <tr>
                    <th>Journey_ID</th>
                    <th>Name</th>

                </tr>
                </thead>
                <tbody>
                {% for journey in journeys %}
                    <tr>
                        <td>{{ journey.id }}</td>
                        <td>{{ journey.name }}</td>

                        <td>
                            <label class="checkbox-label">
                                <a href="javascript:void(0)" onclick="editLink({{ journey.id }});" class="form_btnB"
                                   style="width:30px;color:#292A2D;vertical-align:middle;">Edit</a>
                            </label>
                            <label class="checkbox-label">
                                <a href="javascript:void(0)" onclick="delLink({{ journey.id }});" class="form_btnB"
                                   style="width:30px;color:#292A2D;vertical-align:middle;">Delete</a>
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

{% endblock %}