{% extends 'base.html' %}

{% block content %}
    <div class="w3-display-middle w3-margin-top w3-center">
    <h3 align="center" class="w3-xxlarge w3-text-white">Login</h3>
        <form class="auth-form" method="post">
            <input class="input" placeholder="Username" type="text" name="username" required><br>
            <input class="input" placeholder="Password" type="password" name="password" required><br>
            <center><input class="btn" type="submit" name="submit" value="Submit"></center>
        </form>
    </div>
{% endblock %}