{% extends 'base.html' %}

{% block content %}
    <div class="w3-display-middle w3-margin-top w3-center">
      <h3 align="center" class="w3-xxlarge w3-text-white">Register</h3>
        <form class="auth-form" method="post">
            <br>
            <input class="input" placeholder="Username" type="text" name="username" required><br>
            <input class="input" placeholder="Car" type="text" name="car" required><br>
            <input class="input" placeholder="Password" type="password" name="password1" required><br>
            <input class="input" placeholder="Confirm Password" type="password" name="password2" required><br>
            <center><input class="btn" type="submit" name="submit" value="Submit"></center>
        </form>
    </div>
{% endblock %}