{% extends 'base.html' %}

{% block content %}
{#<body>#}
<h2><font color="#00A4FF">{{ name }}'s</font> journey list</h2>
<p>total {{ journeys|length }} journeys</p>
<table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center"
       id="table">
    <tr>
        <th>Journey_ID</th>
        <th>Time</th>
        <th>Status</th>
        <th>Options</th>
    </tr>
    {% for journey in journeys %}
        <tr>
            <td>{{ journey.journey_id }}</td>
            <td>{{ journey.time }}</td>
            <td>{{ journey.journey_status }}</td>
            <td>--todo--</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}