<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s journey list</title>
    <script>
        window.onload = function () {
            var tblEle = document.getElementById("table");
            var len = tblEle.tBodies[0].rows.length;
            for (var i = 0; i < len; i++) {
                if (i % 2 == 0) {
                    tblEle.tBodies[0].rows[i].style.backgroundColor = "#FAFAFA";
                } else {
                    tblEle.tBodies[0].rows[i].style.backgroundColor = "#DDF4E6";
                }
            }
        }
    </script>
</head>

<body>
<h2>{{ name }}'s journey list</h2>
<p>{{ journeys|length }} journeys</p>
<table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center"
       id="table">
    <tr>
        <th>Journey_ID</th>
        <th>Time</th>
        <th>Status</th>
        <th>Options</th>
    </tr>
    {% for journey in journeys %}
        <tr>
            <td>{{ journey.journey_id }}</td>
            <td>{{ journey.time }}</td>
            <td>{{ journey.journey_status }}</td>
            <td>--todo--</td>
        </tr>
    {% endfor %}
</table>
<footer>
    <small>@TCD CS7NS6 GROUP2 ; <a href="http://git">Journey Booking</a></small>
</footer>
</body>
</html>